.wrap {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto 30px;
  width: 100%;
}

.site-wrapper {
width: 1170px;
height: 2155px;
width: 100%;
display: grid;
grid-template-columns: 2fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas: 
      "news side"
      ". side";
}