.news-wrapper .main-news .card {
  background-color: white;
  margin-bottom: 30px;
  display: block;
}

.news-wrapper .main-news .card img {
  height: 244px;
  width: 364px;
}

.news-wrapper .main-news .card .card-info {
  padding: 38px;
}

.news-wrapper .main-news .card .card-info .news-description {
  font-size: 24px;
  margin: 0 0 11px;
}

.news-wrapper .main-news .card .card-info .news-category {
  margin: 0 0 13px;
}

.news-wrapper .news-category {
  color: #1200ff;
  font-size: 12px;
  text-transform: uppercase;
}

.news-date {
  font-size: 12px;
  margin: 0;
}

.news-wrapper .secondary-news .card {
  display: flex;
  gap: 15px;
}

h2 {
  font-size: 14px;
  margin: 0 0 11px;
}

.news-wrapper .secondary-news .card .card-info p {
  margin: 0 0 12px;
}

.news-wrapper .secondary-news .card img {
  width: 120px;
  height: 80px;
}